.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 87px;
  /* margin-bottom: 1px; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover {
  background-color: rgb(243, 243, 243);
}

.sidebar-icons {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-icon-text {
  font-size: 10px;
}